<table class="table table-currencies" ng-repeat="account in accounts" bind="accounts">
  <tr class="currency-item" ng-class="{selected: isSelected(account.currency),
    'deposit-now': isDeposit(),
    'withdraw-now': isWithdraw() }"
    data-currency="{{account.currency}}">

    <td class="currency-logo"> <div class="currency-icon currency-icon-{{account.currency}}"></div><span class="currency-symbol">{{ account.currency | uppercase }}</span></td>
    <td class="currency-balance-col">
      <p class="currency-balance"><span class="currency-sign"></span>{{account.balance | round_down }}</p>
      <span class="currency-balance-locked"><i class="fa fa-lock"></i> {{account.locked}}</span>
    </td>
    <td class="currency-actions">
      <p class="currency-deposit"><a href="#" ng-click="deposit(account); $event.preventDefault()" >{{ 'funds.deposit' | t }}</a></p>
      <p class="currency-withdraw"><a href="#" ng-click="withdraw(account); $event.preventDefault()" >{{ 'funds.withdraw' | t }}</a></p>
    </td>
  </tr>
</table>
